<ion-view class="post_announcement-view" cache-view="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Credits</span>
  </ion-nav-title>
  <ion-content scroll="true">

    <div class="list">
      <div class="card">
        <div class="item item-text-wrap">

          <!--<a class="item item-avatar">-->
            <!--<img src="img/disagiati_logo.png" style="max-height: 40px; max-width: 70px;">-->
            <!--<p align="center" style="font-family:new Arial Bold Italic; font-size: 18px; padding-top: 15px;"><strong>Team Disagiati</strong></p>-->
          <!--</a>-->

          <div style="padding: 10px 10px 10px 10px; text-align: justify;">
            <p><strong>Descrizione</strong></p>
            Davide and Gianluca are two students of University of Naples, Parthenope.
            The application has been developed under the supervision of Prof. Raffaele Montella, in collaboration with CCMMMA (Centro Campano per il Monitoraggio e la Modellistica Marina e Atmosferica).
            ....
          </div>

          <div class="card">
            <a class="item item-avatar" ng-click="openBrowser('https://www.linkedin.com/in/davide-nardone-127428102/')" >
              <img src="img/developers/dn.jpg">
              <h2>Davide Nardone</h2>
              <h4 style="color: blue;">Sviluppo e Progettazione</h4>
            </a>
          </div>

          <div class="card">
            <a class="item item-avatar" on-tap="openBrowser('https://www.linkedin.com/in/gianluca-paolocci-a19678b6/')">
              <img src="img/developers/gp.jpg">
              <h2>Gianluca Paolocci</h2>
              <h4 style="color: blue;">Sviluppo e Progettazione</h4>
            </a>
          </div>
    </div>

  </ion-content>
</ion-view>
