<ion-view>
  <!--<background-cycler class="bg-fade"></background-cycler>-->
  weather condition -->
  <img style="width:100%; height: 100%;" ng-src={{bg_img}}>
  <ion-content>

    <div id="forecast" class="weather-box">
      <h4 align="center" class="title">{{sel_forecast[1].time | date: "EEE d MMMM"}}  </h4>
      <div class="row" ng-repeat="dd in sel_forecast" ng-click="showModal('fadeIn', $index)">
        <div class="col"><span ng-bind="dd.time | date:'HH'"></span></div>
        <div class="col"><weather-icon icon="dd.icon"></weather-icon></div>
        <div style="padding-top: 15px; padding-right: 10px;" class="col"><span>{{dd.t2c}}&deg;</span></div>
        <div style="padding-top: 15px;" class="col" ng-if="dd.crh==0">
          <span>assenti</span>
        </div>
        <div style="padding-top: 15px;" class="col" ng-if="dd.crh!=0">
          <span>{{dd.crh}} mm</span>
        </div>
        <div style="padding-top: 15px;" class="col">
          <span>{{dd.wind}}</span>
        </div>
        <!--<i ng-class="dd.wind_dir"></i>-->
        <weather-icon style="padding-top: 15px;" icon="dd.wind_dir"></weather-icon>
      </div>

      <br>
    <h4 align="center" class="title">Sea Condition</h4>
    <div class="row" ng-repeat="sea in sel_forecast" ng-if="sea.peakd>=0" ng-click="showModalrms('fadeIn', $index)">
      <div class="col"><span ng-bind="sea.time | date:'HH'"></span></div>
      <weather-icon style="padding-top: 15px;" icon="sea.b_scale_icon"></weather-icon>
      <!-- <div class="col" style="padding-top: 15px;"><span>{{sea.peakd}}&deg;</span></div> -->
      <div style="font-size: 12px; padding-top: 15px;" class="col">
        <span>{{sea.d_scale}}</span>
      </div>
      <div class="col" style="padding-top: 15px;"><span>{{(sea.hs*100).toFixed(1)}} cm</span></div>
    </div>
      <!--<weather-icon style="padding-top: 15px;" icon="sea.sea_dir"></weather-icon>-->
    <div ng-if="sel_forecast[0].peakd <0 ">
      <span>Dati mare non disponibili per questa localitá e/o data</span>
    </div>


    <div class="clearfix">
        <div class="credit">
          Powered by <a ng-click="exturl();">CCMMMA</a>
        </div>
      </div>


    </div>

  </ion-content>
</ion-view>

