<ion-view>
  <!--<background-cycler class="bg-fade"></background-cycler>-->
  weather condition -->
  <img style="width:100%; height: 100%;" ng-src={{bg_img}}>
  <ion-content>


    <div id="forecast" class="weather-box">
      <h4 align="center" class="title" style="font-weight: bold">{{sel_forecast[1].time | date: "EEE d MMMM"}}  </h4>

      <div class="row" style="padding-top: 5px; padding-bottom: 5px; font-size: 80%;">
        <div class="col col-10-headerPage2" style=" padding-top: 0px;"><span>Hour</span></div>
        <div class="col col-10-headerPage2"><span>Weather</span></div>
        <div class="col col-10-headerPage2"><span>T</span></div>
        <div class="col col-10-headerPage2"><span>Precipitations</span></div>
        <div class="col col-10-headerPage2"><span>Air</span></div>
        <div class="col col-10-headerPage2"><span>Wind(Km/h)</span></div>
      </div>

      <div class="row" ng-repeat="dd in sel_forecast" ng-click="showModal('fadeIn', $index)">
        <div class="col col-10"><span ng-bind="dd.time | date:'HH'"></span></div>
        <div class="col col-10" style="padding-right: 50px"><weather-icon icon="dd.icon"></weather-icon></div>
        <div style="padding-top: 15px; text-align: center;" class="col col-20"><span>{{dd.t2c}}&deg;</span></div>
        <div style="padding-top: 15px; text-align: center;" class="col col-20"  ng-if="dd.crh==0">
          <span>absent</span>
        </div>
        <div style="padding-top: 15px;" class="col col-10" ng-if="dd.crh!=0">
          <span>{{dd.crh}} mm</span>
        </div>
        <div ng-if="dd.caqi=='N/A'" style="padding-top: 15px; text-align: center;" class="col col-10">
          <span>{{dd.caqi}}</span>
        </div>
        <div ng-if="dd.caqi!='N/A'" style="padding-top: 15px; text-align: center;" class="col col-10">
          <span class="circle" style="color: {{dd.caqi}};"></span>
        </div>

        <div style="padding-top: 15px; text-align: right;" class="col">
          <span>{{dd.wind}}</span>
        </div>
        <!--<i ng-class="dd.wind_dir"></i>-->
        <weather-icon style="padding-top: 15px;" icon="dd.wind_dir"></weather-icon>
      </div>

      <br>


      <!--TODO: make header-->
    <h4 align="center" class="title" style="font-weight: bold">Sea Condition</h4>
      <div class="row" style="padding-top: 5px; padding-bottom: 5px; font-size: 80%;">
        <div class="col col-20" style=" padding: 5px;"><span>Hour</span></div>
        <div class="col col-30"><span>Wind speed</span></div>
        <div class="col col-30"><span>Sea state</span></div>
        <div class="col col-30"><span>Wave height</span></div>
      </div>
    <div class="row" ng-repeat="sea in sel_forecast" ng-if="sea.hs != -999000000.000000" ng-click="showModalrms('fadeIn', $index)">
      <div class="col col-20">
        <span ng-bind="sea.time | date:'HH'"></span>
      </div>
      <div class="col col-30">
        <weather-icon style="padding-top: 15px;" icon="sea.b_scale_icon"></weather-icon>
      </div>
      <!-- <div class="col" style="padding-top: 15px;"><span>{{sea.peakd}}&deg;</span></div> -->
      <div class="col col-30">
        <div style="font-size: 11px; text-align: left;" class="col">
          <span>{{sea.d_scale}}</span>
        </div>
      </div>
      <div class="col col-30" style="padding-top: 22px; text-align: center;">
        <span>{{(sea.hs*100).toFixed(1)}} cm</span>
      </div>
    </div>
      <!--<weather-icon style="padding-top: 15px;" icon="sea.sea_dir"></weather-icon>-->
    <div ng-if="sel_forecast[0].hs < 0 ">
      <span>Sea data not available for this location or date</span>
    </div>


    <div class="clearfix">
        <div class="credit">
          Powered by <a ng-click="exturl();"><b>CCMMMA</b></a>
        </div>
      </div>


    </div>

  </ion-content>
</ion-view>

