<ion-modal-view class="image-modal transparent" >
  <img style="width:100%; height: 100%;" ng-src={{bg_img_sea}}>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-primary" ng-click="hideModalrms()">Close</button>
  </ion-header-bar>

  <ion-content scroll="false">

    <div class="wrapper_modal_3">
      <div class="header_modal">
        <h4 style="padding: 5px 0px 5px 0px;" class="title">Hour {{sel_hour_forecast.time |  date:'H'}} - {{sel_hour_forecast.d_scale}} </h4>
      </div>

      <div class="Aligner">

        <div class="row" ng-if="sel_hour_forecast.salt != 'N/A'">
          <div class="col"><span class="l_span">Salinity</span></div>
          <div class="col"><span class="r_span">{{sel_hour_forecast.salt}} %</span></div>
        </div>

        <!--<div ng-if="sel_hour_forecast.crh != 0" class="row">-->
        <!--<div class="col"><span class="l_span">Precipitations</span></div>-->
        <!--<div class="col"><span class="r_span">{{sel_hour_forecast.crh}} mm</span></div>-->
        <!--</div>-->

        <div class="row" ng-if="sel_hour_forecast.salt != 'N/A'">
          <div class="col"><span class="l_span">Surface Temp </span></div>
          <div class="col"><span class="r_span" style="color: white;">{{sel_hour_forecast.sup_temp}} &deg;C</span></div>
        </div>

        <div class="row" ng-if="sel_hour_forecast.salt != 'N/A'">
          <div class="col"><span class="l_span">Surface direction </span></div>
          <div class="col"><span class="r_span" style="color: white;">{{sel_hour_forecast.sup_corr_dir}}</span></div>
        </div>

        <div class="row" ng-if="sel_hour_forecast.salt != 'N/A'">
          <div class="col"><span class="l_span">Free surface rise</span></div>
          <div class="col"><span class="r_span" style="color: white;">{{sel_hour_forecast.sup_lib}} m</span></div>
        </div>

        <div class="row" ng-if="sel_hour_forecast.salt == 'N/A'">
          <div style="color: white;">RMS3 data not defined for this location or date</div>
        </div>

      </div>
    </div>

    <div style="color: white;" class="credit">
      Powered by <a style="color: white;" ng-click="exturl();"><b>CCMMMA</b></a>
    </div>

  </ion-content>
</ion-modal-view>
